/* CSS Document */

.skycInstagram_wiget_class{
	position: relative;
	min-height: 200px;
}

aside.widget .loading {
	z-index:999999;
	cursor:pointer;
	width:50px;
	height:50px;
	position:absolute;
	top:50%;
	left:50%;
	opacity:0.8;
	margin:-25px 0px 0px -25px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:none;
	
}


aside.widget .loading {
	background: #ffffff url(img/loading.gif) no-repeat 50% 50%;
}

